.sub-tip{
    float:right;
}
#description-container{
    text-align: left;
}

#description-container h2{
    text-align: center;
    margin-bottom: 3%;
}
#description-container p{
    margin-bottom: 3%;
}

