body{
    background-color: #fae3d9;
}
.main {
    width: 85%;
    text-align: center;
    padding: 5%;
    margin: auto;
    background-color: white;
    border-radius: 3%;
}
input.error {
    border: 1px solid red;
}
label.error {
    background: url("../imgs/site/incorrect.png") no-repeat 0px 5px;
    text-indent: 25px;
    color: red;
}
